ConsoleAppTestLeetCode/.vs/ConsoleAppTestLeetCode/DesignTimeBuild/
ConsoleAppTestLeetCode/.vs/ConsoleAppTestLeetCode/FileContentIndex/
*.v2
*.suo
ConsoleAppTestLeetCode/.vs/ConsoleAppTestLeetCode/v17/
ConsoleAppTestLeetCode/ConsoleAppTestLeetCode/obj/
*.bin
ConsoleAppTestLeetCode/ConsoleAppTestLeetCode/bin/
*.vsidx
LeastRecentlyUsedTestApp/LeastRecentlyUsedTestApp/obj/
LeastRecentlyUsedTestApp/.vs/
LFUCacheCPlusPlus/.vs/
LFUCacheCPlusPlus/LFUCacheCPlusPlus/x64/
LFUCacheCPlusPlus/x64/Debug/LFUCacheCPlusPlus.exe
LFUCacheCPlusPlus/x64/
ConsoleAppTestLeetCode/TwoSum/obj/
ConsoleAppTestLeetCode/TwoSum/bin/Debug/net8.0/TwoSum.deps.json
ConsoleAppTestLeetCode/TwoSum/bin/
ConsoleAppTestLeetCode/TwoSumCPP/x64/Debug/
ConsoleAppTestLeetCode/MergeSortedArray/bin/
ConsoleAppTestLeetCode/MergeSortedArray/obj/
ConsoleAppTestLeetCode/RemoveDuplicateSortedArray/bin/
ConsoleAppTestLeetCode/RemoveDuplicateSortedArray/obj/
ConsoleAppTestLeetCode/Utility/obj/
ConsoleAppTestLeetCode/RomanNumeral/obj/
ConsoleAppTestLeetCode/RemoveElement/obj/
ConsoleAppTestLeetCode/TestCode/TestCode.vcxproj.filters
ConsoleAppTestLeetCode/TestCode/x64/Debug/
ConsoleAppTestLeetCode/Utility/bin/
ConsoleAppTestLeetCode/UtilityCPlusPlus/x64/Debug/
ConsoleAppTestLeetCode/x64/Debug/
ConsoleAppTestLeetCode/ConsoleApplication1/x64/Debug/
ConsoleAppTestLeetCode/MergeSortedArrayCPlusPlus/x64/Debug/
*.idb
ConsoleAppTestLeetCode/TestHeaderFile/x64/Debug/
ConsoleAppTestLeetCode/TestCode/x64/
ConsoleAppTestLeetCode/RemoveElement02/x64/Debug/
ConsoleAppTestLeetCode/UpgradeLog.htm
ConsoleAppTestLeetCode/UpgradeLog2.htm
*.user
ConsoleAppTestLeetCode/Engine/x64/Debug/
ConsoleAppTestLeetCode/Game/x64/Debug/Game.Build.CppClean.log
ConsoleAppTestLeetCode/Game/x64/
ConsoleAppTestLeetCode/x64/Release/TestCode.exe
ConsoleAppTestLeetCode/PlusOneCPP/x64/Debug/
*.aps
ConsoleAppTestLeetCode/x64/
ConsoleAppTestLeetCode/.vscode/ValidParenthesis/Main
ConsoleAppTestLeetCode/.vscode/TwoSum/One
.gitignore
ConsoleAppTestLeetCode/.vscode/SortColor/Two
.gitignore
ConsoleAppTestLeetCode/.vscode/SortColor/One
ConsoleAppTestLeetCode/.vscode/ThreeSum/One
ConsoleAppTestLeetCode/.vscode/RemoveElement/Version03
ConsoleAppTestLeetCode/.vscode/RemoveElement/Version02
ConsoleAppTestLeetCode/.vscode/RemoveElement/Main
ConsoleAppTestLeetCode/.vscode/RemoveElement/Main
ConsoleAppTestLeetCode/.vscode/RemoveElement/Main
ConsoleAppTestLeetCode/.vscode/MoveZero/Main
ConsoleAppTestLeetCode/.vscode/RemoveElement/Main
ConsoleAppTestLeetCode/.vscode/ContainerWithMostWater/One
ConsoleAppTestLeetCode/.vscode/RemoveElement/Main
ConsoleAppTestLeetCode/.vscode/RemoveElement/Main
ConsoleAppTestLeetCode/.vscode/RemoveElement/Main
ConsoleAppTestLeetCode/.vscode/SortAlgorithm/InsertionSort
ConsoleAppTestLeetCode/TestCode/data.txt
ConsoleAppTestLeetCode/.vscode/SortAlgorithm/SortMehod
CalculatorCPP/Calculator
.gitignore
CalculatorCPP/.vscode/launch.json
CalculatorCPP/.vscode/tasks.json
ConsoleAppTestLeetCode/.vscode/BinarySearchTree/BinarySearchTree
ConsoleAppTestLeetCode/.vscode/Recursion/Test
GuessingGame/GuessingGame
ManageStudentList/Main
ManageStudentList/.vscode/launch.json
ManageStudentList/.vscode/tasks.json
ManageStudentList/build/.ninja_deps
ManageStudentList/build/.ninja_log
.gitignore
.gitignore
ManageStudentList/build/build.ninja
ManageStudentList/Build/cmake_install.cmake
ManageStudentList/build/cmake_install.cmake
ManageStudentList/Build/CMakeCache.txt
ManageStudentList/build/CMakeCache.txt
ManageStudentList/build/compile_commands.json
ManageStudentList/Build/Makefile
ManageStudentList/Build/student.db
ManageStudentList/build/student.db
ManageStudentList/Build/StudentManagement
ManageStudentList/build/StudentManagement
ManageStudentList/build/.cmake/api/v1/query/client-vscode/query.json
ManageStudentList/build/.cmake/api/v1/reply/cache-v2-4a7f70bc5dd2b5178f87.json
ManageStudentList/build/.cmake/api/v1/reply/cmakeFiles-v1-d5e89a31971163a2f5f5.json
ManageStudentList/build/.cmake/api/v1/reply/codemodel-v2-1284e6b2cae6e25568fe.json
ManageStudentList/build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
ManageStudentList/build/.cmake/api/v1/reply/index-2026-05-24T03-14-22-0303.json
ManageStudentList/build/.cmake/api/v1/reply/target-StudentManagement-Debug-f399a12ccbc28f6c08fc.json
ManageStudentList/build/.cmake/api/v1/reply/toolchains-v1-ff2d85fe1104f3c39906.json
ManageStudentList/Build/CMakeFiles/cmake.check_cache
ManageStudentList/build/CMakeFiles/cmake.check_cache
ManageStudentList/Build/CMakeFiles/CMakeConfigureLog.yaml
ManageStudentList/build/CMakeFiles/CMakeConfigureLog.yaml
ManageStudentList/Build/CMakeFiles/CMakeDirectoryInformation.cmake
ManageStudentList/Build/CMakeFiles/Makefile.cmake
ManageStudentList/Build/CMakeFiles/Makefile2
ManageStudentList/Build/CMakeFiles/progress.marks
ManageStudentList/build/CMakeFiles/rules.ninja
ManageStudentList/Build/CMakeFiles/TargetDirectories.txt
ManageStudentList/build/CMakeFiles/TargetDirectories.txt
ManageStudentList/Build/CMakeFiles/3.31.6/CMakeCCompiler.cmake
ManageStudentList/build/CMakeFiles/3.31.6/CMakeCCompiler.cmake
ManageStudentList/Build/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
ManageStudentList/build/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
ManageStudentList/Build/CMakeFiles/3.31.6/CMakeSystem.cmake
ManageStudentList/build/CMakeFiles/3.31.6/CMakeSystem.cmake
ManageStudentList/Build/CMakeFiles/3.31.6/CompilerIdC/a.out
ManageStudentList/build/CMakeFiles/3.31.6/CompilerIdC/a.out
ManageStudentList/Build/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
ManageStudentList/build/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
ManageStudentList/Build/CMakeFiles/3.31.6/CompilerIdCXX/a.out
ManageStudentList/build/CMakeFiles/3.31.6/CompilerIdCXX/a.out
ManageStudentList/Build/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
ManageStudentList/build/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/build.make
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/cmake_clean.cmake
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/compiler_depend.internal
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/compiler_depend.make
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/compiler_depend.ts
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/depend.make
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/DependInfo.cmake
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/flags.make
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/link.d
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/link.txt
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Main.cpp.o
ManageStudentList/build/CMakeFiles/StudentManagement.dir/Main.cpp.o
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Main.cpp.o.d
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Manager.cpp.o
ManageStudentList/build/CMakeFiles/StudentManagement.dir/Manager.cpp.o
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Manager.cpp.o.d
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/progress.make
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Student.cpp.o
ManageStudentList/build/CMakeFiles/StudentManagement.dir/Student.cpp.o
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Student.cpp.o.d
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Database/Database.cpp.o
ManageStudentList/build/CMakeFiles/StudentManagement.dir/Database/Database.cpp.o
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Database/Database.cpp.o.d
ManageStudentList/build/.cmake/api/v1/reply/codemodel-v2-e07e6621e5199c41b0c3.json
ManageStudentList/build/.cmake/api/v1/reply/index-2026-05-24T22-33-54-0626.json
ManageStudentList/build/.cmake/api/v1/reply/target-StudentManagement-Debug-bcf71a379a74d249b584.json
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Src/Database.cpp.o
ManageStudentList/build/CMakeFiles/StudentManagement.dir/Src/Database.cpp.o
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Src/Database.cpp.o.d
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Src/Manager.cpp.o
ManageStudentList/build/CMakeFiles/StudentManagement.dir/Src/Manager.cpp.o
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Src/Manager.cpp.o.d
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Src/Student.cpp.o
ManageStudentList/build/CMakeFiles/StudentManagement.dir/Src/Student.cpp.o
ManageStudentList/Build/CMakeFiles/StudentManagement.dir/Src/Student.cpp.o.d
